.DS_Store
.env
.env.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.py[cod]
*.ckpt
*.key
*.pem
*.pth
*.pt
build/
checkpoints/
credentials.json
data/
!scripts/n0_twam/hpu_training/data/
!scripts/n0_twam/hpu_training/data/**
scripts/n0_twam/hpu_training/data/__pycache__/
scripts/n0_twam/hpu_training/data/**/*.py[cod]
/deployment/
dist/
outputs/
settings.json
/temp/
